*.pyc
gurobi.log
*~
*.#*
*#*
*.stackdump
minDisj
*.exe
*.mat
*.txt
*_out
*.flux
*[0-9]
*.xls
*.csv
*.xml
*.zip
*.asv

#ATS dependencies
ATSDEPCOPIES
ATSDEPCOPIES/*

#Possible Intermediates:
.atscdep
.atscdep_tmp
.depend
*.o